.itro__wrapper {
  margin: 0 auto;
  width: 1000px;
  padding: 5px 10px;
}

.intro__exp {
  font-size: 16px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: @text-gray;
}

.intro__title {
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 42px;
  margin-top: 10px;
}

.intro__green {
  color: @green-light;
}

.intro__regular {
  font-weight: 400;
}

.intro__slider {
  margin-top: 40px;
}

